.place__title {
  margin: 0 0 48px 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bolder;
  font-size: 72px;
  line-height: calc(76/72);
}
@media screen and (max-width:1279px) {
  .place__title {
    margin-bottom: 48px;
    font-size: 72px;
  }
}
@media all and (max-width:1023px) {
  .place__title {
    margin-bottom: 48px;
    font-size: 42px;
  }
}
@media all and (max-width:767px) {
  .place__title {
    margin: 0 16px 32px 16px;
    font-size: 32px;
  }
}
