.footer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr calc(53300%/1184) max-content;
  margin: 92px 0 24px 0;
  width: calc(118400%/1280);
}
@media  screen and (max-width:1279px) {
  .footer {
    width: calc(92800%/1024);
  }
}
@media  screen and (max-width:1023px) {
  .footer {
    width: calc(72000%/768);
  }
}
@media  screen and (max-width:767px) {
  .footer {
    margin: 64px auto 24px 16px;
    width: calc(18600%/320);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
