.Ellipce {
  grid-column: 1;
  grid-row: 3;
}
.Ellipce:nth-of-type(1) {
  margin: 249px 53px auto auto;
  background-color: #181A19;
}
.Ellipce:nth-of-type(2) {
  margin: 216px 115px auto auto;
  background-color: #3E403A;
}
.Ellipce:nth-of-type(3) {
  margin: 271px 249px auto auto;
  background-color: #577379;
}
.Ellipce:nth-of-type(4) {
  margin: 286px 355px auto auto;
  background-color: #414847;
}
.Ellipce:nth-of-type(5) {
  margin: 242px 412px auto auto;
  background-color: #8CBABB;
}
.Ellipce:nth-of-type(6) {
  margin: 302px 446px auto auto;
  background-color: #789186;
}
.Ellipce:nth-of-type(7) {
  margin: 272px 547px auto auto;
  background-color: #738F8C;
}
.Ellipce:nth-of-type(8) {
  margin: 237px auto auto 351px;
  background-color: #93A47C;
}
.Ellipce:nth-of-type(9) {
  margin: 293px auto auto 263px;
  background-color: #47443E;
}
.Ellipce:nth-of-type(10) {
  margin: 268px auto auto 231px;
  background-color: #4D5648;
}
.Ellipce:nth-of-type(11) {
  margin: 126px auto auto 122px;
  background-color: #131313;
}
.Ellipce:nth-of-type(12) {
  margin: 220px auto auto 35px;
  background-color: #272722;
}
