.place {
  margin-top: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: calc(46000%/984) 1fr;
}
.place:nth-of-type(1) {
  margin: 0;
}
@media screen and (max-width:1279px) {
  .place {
    margin-top: 80px;
    grid-template-columns: calc(44000%/928) 1fr;
  }
}
@media all and (max-width:1023px) {
  .place {
    margin-top: 73px;
    grid-template-columns: calc(34000%/720) 1fr;
  }
}
@media all and (max-width:767px) {
  .place {
    margin-top: 50px;
    grid-template-columns: 1fr;
  }
}
