.place__text {
  margin: 0 0 auto 40px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1279px) {
  .place__text {
    margin: 0 0 auto 32px;
  }
}
@media all and (max-width: 1023px) {
  .place__text {
    margin: 0 0 auto 28px;
  }
}
@media all and (max-width: 767px) {
  .place__text {
    margin: 32px 16px 0 16px;
  }
}
