.cover__subtitle {
  display: inline-block;
  margin: 32px 0 0 0;
  padding: 0;
  width: 370px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(22/18);
  text-align: center;
}

@media all and (max-width: 767px) {
  .cover__subtitle {
    margin: 16px 0 0 0;
    width: 265px;
    font-size: 14px;
    line-height: calc(16/14);
  }
}
