.cover__subtitle {
  margin: 32px 0 0 0;
  padding: 0;
  width: 370px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(22/18);
  text-align: center;
}
@media screen and (max-width:1279px) {
  .cover__subtitle {
    width: 370px;
    font-size: 18px;
    line-height: calc(22/18);
  }
}
@media all and (max-width:1023px) {
  .cover__subtitle {
    width: 370px;
    font-size: 18px;
    line-height: calc(22/18);
  }
}
@media all and (max-width:767px) {
  .cover__subtitle {
    width: 380px;
    font-size: 14px;
    line-height: calc(16/14);
  }
}
